<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FiqueBellaFinal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FiqueBellaFinal.styles.css" asp-append-version="true" />
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.css" rel="stylesheet" />

    

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar border-bottom box-shadow mb-3" style="background-color: black">
            <div class="container">
                <a class="navbar-brand" asp-area="Admin" asp-controller="Admin" asp-action="Index">Admin</a>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <a class="nav-link text-grey" asp-area="Admin" asp-controller="AdminProcedimento" asp-action="Index">Procedimentos</a>
                    <a class="nav-link text-grey" asp-area="Admin" asp-controller="AdminCategoria" asp-action="Index">Categorias</a>
                    <a class="nav-link text-grey" asp-area="Admin" asp-controller="AdminCliente" asp-action="Index">Clientes</a>
                    <a class="nav-link text-grey" asp-area="Admin" asp-controller="AdminAgenda" asp-action="Index">Agenda</a>
                    <a class="nav-link text-grey" asp-area="Admin" asp-controller="AdminRelatorio" asp-action="Index">Relatório</a>
                    <a class="nav-link text-grey" asp-area="Admin" asp-controller="AdminImagens" asp-action="Index">Imagens</a>
                    <div class="nav-item dropdown" style="color:black">
                        <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <font color="blue">Gráficos</font>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <a class="nav-link text-grey" asp-area="Admin" asp-controller="AdminGrafico" asp-action="Index">Atendimento anual</a>
                            <a class="nav-link text-grey" asp-area="Admin" asp-controller="AdminGrafico" asp-action="Mensal" asp-route-dias="30">Atendimento mensal</a>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - FiqueBella - <a asp-area="" asp-controller="Home" asp-action="QuemSomos">Sobre</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
