# Diretório de build do Docker
out/

# Pasta do Docker para binários e resultados de build
bin/
obj/

# No caso de arquivos de banco de dados que possam ser criados durante o desenvolvimento:
*.mdf
*.ldf
*.ndf

# Excluir pastas específicas para o ambiente local de desenvolvimento
# Não ignore a pasta 'Areas/Services'!
Areas/Services/

# Logs específicos
*.log
[Ll]og/
