@model ProcedimentoListViewModel
<br />
<br />
<br />
<br />
<div>
    <font face="Candara">
        <h2>@Model.CategoriaAtual</h2>
    </font>
</div>


<br />
<br />
<div class="container" style="margin-block">
        <div class="row">
            @foreach(var procedimento in Model.Procedimentos)
            {
                <partial name="_ProcedimentosResumo" for="@procedimento" />               
            }
    </div>
</div>