@model ProcedimentoListViewModel
<br />
<br />
<br />
<br />
<div>
    <h2>@Model.CategoriaAtual</h2>
</div>


<br />
<br />
<div class="container">
        <div class="row">
            @foreach(var procedimento in Model.Procedimentos)
            {
                <partial name="_ProcedimentosResumo" for="@procedimento" />
                
            }
            
    </div>
</div>