<br />
<img src="~/images/computer-icons-login-user-system-administrator-image-admin-8f0e4fdd82da209f6853aaf5f0c8afda.png" width="200" height="200" alt="Administração" class="marginTop1" />
<br />
<br />
<div class="container">
    <div class="@*alert alert-light*@ col-xl-8" role="alert">
        <p>
            <h4>
                Bem vinda Thaissa. Aqui você pode gerenciar tudo da sua clinica.
            </h4>
        </p>
    </div>
    <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/arrow-return-left.svg" height="20" width="20" /> Voltar à pagina inicial.</a>
</div>