<br />
<img src="~/images/person-fill-slash.svg" width="100" height="100" alt="Administração" class="marginTop1" />
<div class="container">
    <div class="jumbotron">
        <p>
            <h4>
                Você não possui autorização para essa área.
            </h4>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Voltar à pagina inicial.</a>
</div>