@model FiqueBellaFinal.ViewModels.HomeViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-4">
    <h2>Bem-vindo(a) a Fique Bella Estética a Domicílio</h2>
    <h4>Conheça nossos pacotes e promoções e nos chame no Whatsapp</h4>
</div>

<div class="text-center mt-4">
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#promocoesModal">
        NOSSAS PROMOÇÕES
    </button>
</div>

<!-- Modal de Promoções -->
<div class="modal fade" id="promocoesModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog text-center">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Promoções</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                @foreach (var p in Model.ProcedimentosEmPromocao)
                {
                    <partial name="_EmPromocao" for="@p" />
                }
                <a href="https://wa.me/5516981682877" target="_blank" class="btn btn-primary mt-3">
                    Marque já seu horário
                </a>
            </div>
        </div>
    </div>
</div>

<div class="mt-5">
    <h2 class="text-center">Destaques</h2>
    <div class="row text-center mt-3">
        @foreach (var p in Model.ProcedimentosPreferidos)
        {
            <partial name="_ProcedimentosResumo" for="@p" />
        }
    </div>
</div>
