@{
    ViewData["Title"] = "Home Page";
}

<partial name="_Carousel" />
<br />
<h2 class="text-center">Bem vinda a Fique Bella Estética a Domicílio</h2>
<h4 class="text-center">Conheça nossos pacotes e promoções e se preferir nos chame no Whatsapp</h4>
<br />

<!-- Button trigger modal -->
<div class="text-center">
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
    NOSSAS PROMOÇÕES
</button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">PROMOÇÕES</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <img src="/images/34ddb35d-9f9.jpg" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">Massagem modeladora</h5>
                        <p class="card-text">Nesse mês fechando um pacote de modeladora com 8 sessões você ganha 2 sessões de drenagem linfática</p>
                        <a href="https://wa.me/5516981682877" class="btn btn-primary">Marque já seu horário</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<h2>Procedimentos em Destaque</h2>


<div class="row">
    @foreach (var procedimento in Model.ProcedimentosPreferidos)
    {
        <partial name="_ProcedimentosResumo" for="@procedimento" />
    }
</div>
