<br />
<br />
<br />
<br />
<div class="text-center">
    <img src="~/images/fiquebella.png" />
</div>

<div class="accordion" id="accordionPanelsStayOpenExample">
    <font face="Candara">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    Quem somos
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    A clínica <strong>Fique Bella</strong> nasceu de uma necessidade de mercado, muitas pessoas gostariam ou precisam de algum atendimento ou procedimento estético,
                    por saúde ou vaidade, porém com o corre corre do dia a dia é muito difícil parar e ter tempo para conseguir ir até uma clínica. E esse é exatamente o nosso diferencial,
                    nosso atendimento é a domicílio para que você possa desfrutar de todos os procedimentos na tranquilidade de seu lar.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    Nossos procedimentos
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                <div class="accordion-body">
                    Estamos sempre nos modernizando para que possamos atender nossas clientes com os melhores procedimentos e equipamentos que o mercado possui.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    Redes sociais
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                <div class="accordion-body">
                    Nos siga em nossas redes sociais.
                    <i>
                        <p><a href="https://www.instagram.com/fiquebellaest/" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><img src="~/images/instagram.svg" aria-hidden="true" height="20" width="20"> Instagram</a></p>
                        <p><a href="https://www.facebook.com/FiqueBellaEst/" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><img src="~/images/facebook.svg" aria-hidden="true" height="20" width="20"> Facebook</a></p>
                    </i>
                </div>
            </div>
        </div>
    </font>
</div>


